{% extends 'Codm/base.html' %}

{% block content %}
<div style="position: absolute; top:50%; left: 50%; transform: translate();">
{{uuser}}
{{message}}
{% if Page == 'login' %}
<form method="post">
    {% csrf_token %}
    <input type="email" placeholder="ایمیل خود را وارد کنید" required="true" name="email" /><br />
    <input type="password" placeholder="رمز عبور خود را وارد کنید" required="true" name="password" />
    <input type="submit" value="ورود" />
</form>
هنوز حساب کاربری ندارید؟ <a href="{% url 'Users:signup' %}">ساخت حساب</a>
{% else %}
{% endif %}
</div>
{% endblock %}