<html>
    <head>
        {% load static %}
        <meta charset="UTF-8" />
        <!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <link type="text/css" rel="stylesheet" href="{% static 'Codm/main.css' %}"/>
        <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
		<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
        <title>Hi, Game</title>
    </head>
        
    <body direction="rtl">
        <div style="margin-bottom: 50px">
        {% include 'Codm/topbar.html' %}<br />
        </div>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>