{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'codpage.css' %}" />
<div>
        <div class="top-container">
            <h2>Automatic Slideshow</h2>
            <p>Change image every 2 seconds:</p>

            <div class="slideshow-container">

            <div class="mySlides fade">
            <img src="{% static 'pictures/codm-banner.png' %}" style="width:100%;object-fit: cover;
            object-position: center;">
            </div>

            <div class="mySlides fade">
            <img src="{% static 'pictures/codm-poster.jpg' %}" style="width:100%;object-fit: cover;
            object-position: center;">
            </div>

            <div class="mySlides fade">
            <img src="{% static 'pictures/codm-wallpaper.jpg' %}" style="width:100%;object-fit: cover;
            object-position: center;">
            </div>

            </div>
            <br>

            <div style="text-align:center">
            <span class="dot"></span> 
            <span class="dot"></span> 
            <span class="dot"></span> 
            </div>

            <script>
            var slideIndex = 0;
            showSlides();

            function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";  
            dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 3000); // Change image every 2 seconds
            }
            </script>
        </div>
        <div class="logo-container">
            <img src="{% static 'pictures/codm-logo.png' %}" alt="logo" />
        </div>
        <div class="main-container">
            <form method="get">
                <input type="text" placeholder="جست و جو کنید" name="q" />
                <input type="submit" value="جست و جو"/>
            </form>
            {% if main_filter != 'No-filter' %}
            <div id="main-filter">
                {% if main_filter == 'w4p' %}
                <h1>اکانت های آگهی شده و در لیست انتظار</h1>
                <a href="{% url 'Codm:Game' %}?q=available"><h3>اکانت های تایید شده و قابل خرید</h3></a>
                <a href="{% url 'Codm:Game' %}?q=sold"><h3>اکانت های فروخته شده</h3></a>
                {% elif main_filter == 'sold' %}
                <a href="{% url 'Codm:Game' %}?q=w4p"><h3>اکانت های آگهی شده و در لیست انتظار</h3></a>
                <a href="{% url 'Codm:Game' %}?q=available"><h3>اکانت های تایید شده و قابل خرید</h3></a>
                <h1>اکانت های فروخته شده</h1>
                {% else %}
                <a href="{% url 'Codm:Game' %}?q=w4p"><h3>اکانت های آگهی شده و در لیست انتظار</h3></a>
                <h1>اکانت های تایید شده و قابل خرید</h1>
                <a href="{% url 'Codm:Game' %}?q=sold"><h3>اکانت های فروخته شده</h3></a>
                {% endif %}
            </div>
            {% endif %}
            <a name="show"></a>
            <ul id="Ready"> 
                {% if accounts %}
                {% for account in accounts %}
                <li>
                    <div id="user-btn">
                    <a href="">{{account.seller}}@
                        <img style="height: 30px; width: 30px; border: solid 0.5px #33ccff; border-radius: 50%;" src="https://img.icons8.com/fluency/48/000000/test-account.png"/>
                    </a></div>
                    <a href="{% url 'Codm:account' account.code %}" target="_blank">
                        <div id="account-code">
                            <div>
                            شماره آگهی: {{account.code}}
                            </div>
                            {% if account.status == "available" %}
                            <div style="margin-right: 20px; background-color:#80ff80;">
                            موجود
                            </div>
                            {% elif account.status == "sold" %}
                            <div style="margin-right: 20px; background-color: #cc0000;
                            box-shadow: 0 0 8px 0#ff0000;">
                            فروخته شد
                            </div>
                            {% else %}
                            <div style="margin-right: 20px; background-color: #ffcc66;
                            box-shadow: 0 0 8px 0 rgb(255, 204, 0)">
                            در لیست انتظار
                            </div>
                            {% endif %} 
                        </div>
                    <div>
                        {% if account.image %}
                        <img src="{% static account.image.path %}" style="object-fit: cover;
                        object-position: center;"/>
                        {% else %}
                        <img src="{% static 'pictures/main-logo.jpg' %}" />
                        {% endif %}
                    </div>
                    </a>
                    <br />
                    <!--{{سیوها}}-->
                    {{account.price}}تومان<br /></a>
                    {% if account.status == 'available' %}
                    <a href="{% url 'Users:addtocart' account.code %}">افزودن به سبد خرید</a>
                    <a href="">ارسال پیام</a><br />
                    {% endif %}
                </li>
                {% endfor %}
                {% else %}
                <h1>متاسفانه اکانتی برای فروش نداریم:(</h1><br />
                <h2>بعدا سر بزنید</h2>
                {% endif %}
            </ul>
        </div>
</div>