{% extends 'Codm/base.html' %}
{% load static %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'home.css' %}" />
<div class="body">
    <div class="body1">
        <div class="container1">
        </div>
        <div class="container2">
        </div>
        <div class="container3">
            <div>
                <a href="{% url 'Codm:codm' %}">
                    <img id="codm-logo" src="{% static 'pictures/codm-logo.png' %}" alt="codm" /><br />
                    <p>اکانت کالاف دیوتی موبایل</p></a>
            </div>
            <div>
                2
            </div>
        </div>
    </div>
    <div id="Shape1"></div>
    <div id="Shape2"></div>
    <div id="Shape3"></div>
    <div id="Shape4"></div>
    <div id="Shape5"></div>
    <div id="Shape6"></div>
    <div id="Shape7"></div>
</div>

{% endblock %}