{% extends 'Codm/base.html' %}
{% load static %}
{% block content %}
<title>Game Store</title>
<link rel="icon" href="{% static 'assets/img/logo1.jpg' %}" type="image/logo" />
<!-- Start main-content -->
<main class="main-content dt-sl mb-3">
    <div class="container main-container">
        <!-- Start Main-Slider -->
        <div class="row mb-3">
            <div class="col-xl-12 col-lg-12 col-12 order-1 order-lg-2">
                <!-- Start main-slider -->
                <section id="main-slider" class="main-slider carousel slide carousel-fade card hidden-sm"
                    data-ride="carousel">
                    <ol class="carousel-indicators">

                        <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                        {% for i in s_range %}
                        <li data-target="#main-slider" data-slide-to="{{i}}"></li>
                        {% endfor %}

                    </ol>
                    <div class="carousel-inner">
                        {% if first_slider %}
                        <div class="carousel-item active">
                            <a class="main-slider-slide" {% if first_slider.link %} href="{{first_slider.link}}" {% endif %}
                                style="background-image: url('{{first_slider.picture.url}}')">
                            </a>
                        </div>
                        {% endif %}

                        {% if sliders %}
                        {% for slider in sliders %}
                        <div class="carousel-item">
                            <a class="main-slider-slide" {% if slider.link %} href="{{slider.link}}" {% endif %}
                                style="background-image: url('{{slider.picture.url}}')">
                            </a>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                    <a class="carousel-control-prev" href="#main-slider" role="button" data-slide="prev">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                    <a class="carousel-control-next" href="#main-slider" data-slide="next">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </section>
                <section id="main-slider-res"
                    class="main-slider carousel slide carousel-fade card d-none show-sm" data-ride="carousel">
                    <ol class="carousel-indicators">

                        <li data-target="#main-slider-res" data-slide-to="0" class="active"></li>
                        {% for n in rs_range %}
                        <li data-target="#main-slider-res" data-slide-to="{{n}}"></li>
                        {% endfor %}

                    </ol>
                    <div class="carousel-inner">
                        {% if first_rs %}
                        <div class="carousel-item active">
                            <a class="main-slider-slide" {% if first_rs.link %} href="{{first_rs.link}}" {% endif %}>
                                <img src="{{ first_rs.picture.url }}" alt=""
                                    class="img-fluid">
                            </a>
                        </div>
                        {% else %}
                        {% endif %}

                        {% if responsivesliders %}
                        {% for rs in responsivesliders %}
                        <div class="carousel-item">
                            <a class="main-slider-slide" {% if rs.link %} href="{{rs.link}}" {% endif %}> 
                                <img src="{{ rs.picture.url }}" alt=""
                                    class="img-fluid">
                            </a>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </div>
                    <a class="carousel-control-prev" href="#main-slider-res" role="button" data-slide="prev">
                        <i class="mdi mdi-chevron-right"></i>
                    </a>
                    <a class="carousel-control-next" href="#main-slider-res" data-slide="next">
                        <i class="mdi mdi-chevron-left"></i>
                    </a>
                </section>
                <!-- End main-slider -->
            </div>
        </div>
        <!-- End Main-Slider -->
        <!-- Start Category-Section -->
        <div class="row mt-3 mb-5">
            <div class="col-12">
                <div class="category-section dt-sn dt-sl border">
                    <div class="category-section-title dt-sl">
                        <h3>
                            چرا گیم استور؟</h3>
                    </div>
                    <div class="dt-sn dt-sn--box mt-4">
                        <div class="row">
                            <!-- Start Product-Slider -->
                            <div class="col-12">
                                <div class="features-checkout-slider carousel-md owl-carousel owl-theme">
                                    <div class="item">
                                        <a href="#">
                                            <img src="{% static 'assets/img/svg/delivery.svg' %}" class="img-fluid" alt="">
                                            <div class="title-feature-checkout-slider">تحویل اکسپرس</div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="#">
                                            <img src="{% static 'assets/img/svg/contact-us.svg' %}" class="img-fluid" alt="">
                                            <div class="title-feature-checkout-slider">پشتیبانی ۲۴ ساعته</div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="#">
                                            <img src="{% static 'assets/img/svg/payment-terms.svg' %}" class="img-fluid" alt="">
                                            <div class="title-feature-checkout-slider">پرداخت در محل</div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="#">
                                            <img src="{% static 'assets/img/svg/return-policy.svg' %}" class="img-fluid" alt="">
                                            <div class="title-feature-checkout-slider">۷ روز ضمانت بازگشت</div>
                                        </a>
                                    </div>
                                    <div class="item">
                                        <a href="#">
                                            <img src="{% static 'assets/img/svg/origin-guarantee.svg' %}" class="img-fluid" alt="">
                                            <div class="title-feature-checkout-slider">ضمانت اصل بودن کالا</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Product-Slider -->
                        </div>
                    </div>
                </div>
                <!-- Start Banner -->
                <div class="row mt-3 mb-5">
                    {% if small_banners %}
                    {% for banner in small_banners %}
                    <div class="col-md-3 col-sm-6 col-6 mb-2">
                        <div class="widget-banner">
                            <a {% if banner.link %} href="{{banner.link}}" {% endif %}>
                                <img src="{{ banner.picture.url }}" alt="">
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- End Banner -->
            </div>
        </div>
        <!-- End Category-Section -->
        <!-- Start Product-Slider -->
        <div class="row">
            <section class="slider-section dt-sl mb-5" style="background-image:url({% static 'pictures/codm-back.jpg' %})">
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="section-title text-sm-title title-wide no-after-title-wide">
                            <h2 style="float: right; color:white; background-color: #00014d; padding: 0 auto 0 auto; border-radius: 5px;">
                                جدیدترین های کالاف دیوتی موبایل</h2>
                            <a style="display: inline-block;" href="{% url 'Codm:Game' 'codm' '1' %}">مشاهده همه</a>
                        </div>
                    </div>

                    <!-- Start Product-Slider -->
                    <div class="col-12 px-res-0">
                        <div class="product-carousel carousel-md owl-carousel owl-theme">
                            {% for account in sug_accounts %}
                            <div class="item">
                                <div class="product-card" style="border-radius: 10px;">
                                    <div class="product-head">
                                        <img style="height: 20px; width: 20px; border: solid 0.5px #33ccff; border-radius: 50%; float:right" src="https://img.icons8.com/fluency/48/000000/test-account.png"/><p id="p-slider">{{account.seller}}@</p>
                                    </div>
                                    <a class="product-thumb" href="{% url 'Codm:account' account.group account.code %}">
                                        <img {% if account.picture %} src="{{account.picture.url}}" {% else %}
                                        src="{% static 'assets/img/banner/codm1.jpg' %}"{% endif %}
                                        style="height: 200px; object-fit: cover; border-radius: 5px;
                                        object-position: center;" alt="Product Thumbnail">
                                    </a>
                                    <div class="product-card-body">
                                        <h5 class="product-title">
                                            <a href="{% url 'Codm:account' account.group account.code %}">کد آگهی: {{account.code}}</a>
                                            {% if account.group == 'codm' %}
                                            <p style="margin-top: 5px;" id="p-slider">ریجن: {{account.codaccount.get_region_display}}</p>
                                            {% endif %}
                                        </h5>
                                        <a class="product-meta" href="{% url 'Codm:Game' 'codm' '1' %}">دسته: {{account.get_group_display}}</a>
                                        <span class="product-price">قیمت: {{account.price}}</span><br/>
                                        {% if request.user != account.seller %}
                                        <a href="{% url 'Users:addtocart' account.code %}">
                                        <button 
                                        class="btn btn-sm btn-primary btn-submit-form" style="position: relative;
                                        width: 100%; text-align: center;">افزودن به سبد خرید</button>
                                        </a>
                                        {% else %}
                                        <p style="font-size: 12px" id="p-slider">شما نمی توانید اکانت خود را خریداری کنید!</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                    <!-- End Product-Slider -->
                </div>
            </section>
        </div>
        <!-- End Product-Slider -->
                <!-- Start Category-Section -->
                <div class="row mt-3 mb-5">
                    <div class="col-12">
                        <div class="category-section dt-sn dt-sl border">
                            <div class="category-section-title dt-sl">
                                <h3>لیست بازی های عرضه شده در گیم استور</h3>
                            </div>
                            <div class="category-section-slider dt-sl">
                                <div class="category-slider owl-carousel">
                                    <div class="item">
                                        <a href="#" class="promotion-category">
                                            <img src="{% static 'assets/img/category/zarinpal-badge.png' %}" alt="">
                                            <h4 class="promotion-category-name">احراز هویت کامل فروشندگان</h4>
                                            <h6 class="promotion-category-quantity">خرید...</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <!-- End Category-Section -->
        <!-- Start Banner -->
        <div class="row mt-3 mb-5">
            {% if middle_banners %}
            {% for banner in middle_banners %}
            <div class="col-sm-6 col-12 mb-2">
                <div class="widget-banner">
                    <a {% if banner.link %} href="{{banner.link}}" {% endif %}>
                        <img src="{{ banner.picture.url }}" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <!-- End Banner -->
        <!-- Start Product-Slider -->
        <section class="slider-section dt-sl mb-5" style="background-image:url({% static 'pictures/codm-back4.jpg' %})">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="section-title text-sm-title title-wide no-after-title-wide">
                        <h2 style="float: right; color:white; background-color: #00014d; padding: 0 auto 0 auto; border-radius: 5px;">
                            جدیدترین های کالاف دیوتی موبایل</h2>
                        <a style="display: inline-block;" href="{% url 'Codm:Game' 'codm' '1' %}">مشاهده همه</a>
                    </div>
                </div>

                <!-- Start Product-Slider -->
                <div class="col-12 px-res-0">
                    <div class="product-carousel carousel-md owl-carousel owl-theme">
                        {% for account in sug_accounts %}
                        <div class="item">
                            <div class="product-card" style="border-radius: 10px;">
                                <div class="product-head">
                                    <img style="height: 20px; width: 20px; border: solid 0.5px #33ccff; border-radius: 50%; float:right" src="https://img.icons8.com/fluency/48/000000/test-account.png"/><p id="p-slider">{{account.seller}}@</p>
                                </div>
                                <a class="product-thumb" href="{% url 'Codm:account' account.group account.code %}">
                                    <img {% if account.picture %} src="{{account.picture.url}}" {% else %}
                                    src="{% static 'assets/img/banner/codm1.jpg' %}"{% endif %}
                                    style="height: 200px; object-fit: cover; border-radius: 5px;
                                    object-position: center;" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a href="{% url 'Codm:account' account.group account.code %}">کد آگهی: {{account.code}}</a>
                                        {% if account.group == 'codm' %}
                                        <p style="margin-top: 5px;" id="p-slider">ریجن: {{account.codaccount.get_region_display}}</p>
                                        {% endif %}
                                    </h5>
                                    <a class="product-meta" href="{% url 'Codm:Game' 'codm' '1' %}">دسته: {{account.get_group_display}}</a>
                                    <span class="product-price">قیمت: {{account.price}}</span><br/>
                                    {% if request.user != account.seller %}
                                    <a href="{% url 'Users:addtocart' account.code %}">
                                    <button 
                                    class="btn btn-sm btn-primary btn-submit-form" style="position: relative;
                                    width: 100%; text-align: center;">افزودن به سبد خرید</button>
                                    </a>
                                    {% else %}
                                    <p style="font-size: 12px" id="p-slider">شما نمی توانید اکانت خود را خریداری کنید!</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                <!-- End Product-Slider -->
            </div>
        </section>
        <!-- End Product-Slider -->
        <!-- Start Banner -->
        <div class="row mt-3 mb-5">
            {% if small_banners %}
            {% for banner in small_banners %}
            <div class="col-md-3 col-sm-6 col-6 mb-2">
                <div class="widget-banner">
                    <a {% if banner.link %} href="{{banner.link}}" {% endif %}>
                        <img src="{{ banner.picture.url }}" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        <!-- End Banner -->
        <!-- Start Product-Slider -->
        <section class="slider-section dt-sl mb-5" style="background-image:url({% static 'pictures/codm-back3.jpg' %})">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="section-title text-sm-title title-wide no-after-title-wide">
                        <h2 style="float: right; color:white; background-color: #00012d; padding: 0 auto 0 auto; border-radius: 5px;">
                            محصولات پیشنهادی تصادفی</h2>
                    </div>
                </div>

                <!-- Start Product-Slider -->
                <div class="col-12 px-res-0">
                    <div class="product-carousel carousel-md owl-carousel owl-theme">
                        {% for product in random_products %}
                        <div class="item">
                            <div class="product-card" style="border-radius: 10px;">
                                <div class="product-head">
                                </div>
                                <a class="product-thumb">
                                    <img src="{{product.image.url}}"
                                    style="height: 200px; object-fit: cover; border-radius: 5px;
                                    object-position: center;" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a>نام کالا: {{product.name}}</a>
                                    </h5>
                                    <a class="product-meta" href="{% url 'Products:PV' product.group.tag %}">دسته: {{product.group}}</a>
                                    <span class="product-price">قیمت: {{product.price}}</span><br/>
                                    <a href="{% url 'Products:PAC' product.group.tag product.code %}">
                                    <button 
                                    class="btn btn-sm btn-primary btn-submit-form" style="position: relative;
                                    width: 100%; text-align: center;">افزودن به سبد خرید</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End Product-Slider -->

            </div>
        </section>
        <!-- End Product-Slider -->
                <!-- Start Banner -->
                <div class="row mt-3 mb-5">
                    <div class="col-12">
                        <div class="widget-banner">
                            <a href="#">
                                <img src="./assets/img/banner/banner-wide.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Banner -->
        <!-- Start Feature-Product -->
        <section class="dt-sl dt-sn mb-5">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-sm-title title-wide no-after-title-wide">
                        <h2>آگهی های VIP</h2>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/017.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/020.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/014.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/016.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/018.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/015.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 pt-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/017.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/020.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="card-horizontal-product border-bottom rounded-0">
                                <div class="card-horizontal-product-thumb">
                                    <a href="#">
                                        <img src="./assets/img/products/014.jpg" alt="">
                                    </a>
                                </div>
                                <div class="card-horizontal-product-content">
                                    <div class="card-horizontal-product-title">
                                        <a href="#">
                                            <h3>کت مردانه مجلسی مدل k-m-5110</h3>
                                        </a>
                                    </div>
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="card-horizontal-product-price">
                                        <span>199,000 تومان</span>
                                    </div>
                                    <div class="card-horizontal-product-buttons">
                                        <a href="#" class="btn btn-outline-info">جزئیات محصول</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Feature-Product -->
        <!-- Start Brand-Slider -->
        <section class="slider-section dt-sl mb-5">
            <div class="row">
                <!-- Start Product-Slider -->
                <div class="col-12">
                    <div class="brand-slider carousel-lg owl-carousel owl-theme">
                        <div class="item">
                            <img src="./assets/img/brand/1076.png" class="img-fluid" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/img/brand/1078.png" class="img-fluid" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/img/brand/1080.png" class="img-fluid" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/img/brand/2315.png" class="img-fluid" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/img/brand/1086.png" class="img-fluid" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/img/brand/5189.png" class="img-fluid" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/img/brand/1000006973.png" class="img-fluid" alt="">
                        </div>
                        <div class="item">
                            <img src="./assets/img/brand/1000014452.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                <!-- End Product-Slider -->

            </div>
        </section>
        <!-- End Brand-Slider -->
    </div>
</main>
<!-- End main-content -->
{% endblock %}