{% extends 'Codm/base.html' %}
{% load static %}
{% load jalali_tags %}

{% block content %}
<title>GameStore | Code:{{account.code}}</title>
<!-- Start main-content -->
<main class="main-content dt-sl mb-3">
    <div class="container main-container">
        <!-- Start title - breadcrumb -->
        <div class="title-breadcrumb-special dt-sl mb-3">
            <div class="breadcrumb dt-sl">
            </div>
        </div>
        <!-- End title - breadcrumb -->
        <!-- Start Product -->
        <div class="dt-sn mb-5 dt-sl">
            <div class="row">
                <!-- Product Gallery-->
                <div class="col-lg-4 col-md-6 ps-relative">
                    <!-- Product Options-->
                    <ul class="gallery-options">
                        <li>
                            <button class="add-favorites"><i class="mdi mdi-heart"></i></button>
                            <span class="tooltip-option">افزودن به علاقمندی</span>
                        </li>
                    </ul>
                    <div class="product-timeout position-relative pt-5 mb-3">
                        <div class="promotion-badge">
                            وضعیت: {{account.get_status_display}}
                        </div>
                    </div>
                    <div class="product-gallery">
                        <div class="product-carousel owl-carousel" data-slider-id="1">
                            <div class="item">
                                <a class="gallery-item" {% if account.picture %} href="{{ account.picture.url }}" {% else %}
                                href="{% static 'assets/img/banner/codm1.jpg' %}"
                                {% endif %}
                                    data-fancybox="gallery1">
                                    <img {% if account.picture %} src="{{ account.picture.url }}" {% else %}
                                    src="{% static 'assets/img/banner/codm1.jpg' %}"
                                    {% endif %} style="height: 400px; object-fit: cover; border-radius: 5px;
                                    object-position: center;" alt="Product">
                                </a>
                            </div>
                            {% if images %}
                            {% for image in images %}
                            <div class="item">
                                <a class="gallery-item" href="{{image.image.url}}"
                                    data-fancybox="gallery1">
                                    <img src="{{image.image.url}}" style="height: 400px; object-fit: cover; border-radius: 5px;
                                    object-position: center;" alt="Product">
                                </a>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-center flex-wrap">
                            <ul class="product-thumbnails owl-thumbs ml-2" data-slider-id="1">
                                <li class="owl-thumb-item active">
                                    <a href="">
                                        <img {% if account.picture %} src="{{ account.picture.url }}" {% else %}
                                        src="{% static 'assets/img/banner/codm1.jpg' %}"
                                        {% endif %} style="width: 50px; height: 50px;" alt="Product">
                                    </a>
                                </li>
                                {% if images %}
                                {% for image in images %}
                                <li class="owl-thumb-item">
                                    <a href="">
                                        <img src="{{image.image.url}}" style="width: 50px; height: 50px;" alt="Product">
                                    </a>
                                </li>
                                {% endfor %}
                                {% endif %}
                            </ul>
                            <ul class="product-thumbnails">
                                {% if account.video %}
                                <li>
                                    <a class="navi-link text-sm" href="{{account.video.video.url}}"
                                        data-fancybox data-width="960" data-height="640">
                                        ویدیو اکانت
                                        <i class="mdi mdi-video text-lg d-block mb-1"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Product Info -->
                <div class="col-lg-8 col-md-6 py-2">
                    <div class="product-info dt-sl">
                        <div class="product-title dt-sl">
                            <h1>کد آگهی: {{account.code}}
                            </h1>
                            <h3>فروشنده: {{account.seller}}@</h3>
                        </div>
                        <div class="product-variant dt-sl">
                            <div class="section-title text-sm-title title-wide no-after-title-wide mb-0">
                                <h2>سیو های اکانت:</h2>
                            </div>
                            <ul class="product-variants float-right ml-3">
                                {% for link in links %}
                                <li class="ui-variant">
                                    <label class="ui-variant ui-variant--color">
                                        <span class="ui-variant--check">{{link.get_Type_display}}</span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="product-params dt-sl">
                            <ul data-title="ویژگی‌های اکانت">
                                <li>
                                    <span>واسطه گری گیم استور:  </span>
                                    <span>✅</span>
                                </li>
                                <li>
                                    <span>تصویر: </span>
                                    <span>{% if images %}دارد ✅{% else %} ندارد ❌{% endif %}</span>
                                </li>
                                <li>
                                    <span>ویدیو: </span>
                                    <span>{% if account.video %}دارد ✅{% else %} ندارد ❌{% endif %}</span>
                                </li>
                        </div>
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                            {% if codaccount %}
                            <h2>دسته: کالاف دیوتی موبایل</h2>
                            {% endif %}
                        </div>
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                            <h2>قیمت : <span class="price">{{account.price}} تومان</span> </h2>
                        </div>
                        {% if request.user != account.seller %}
                        <div class="dt-sl mt-4">
                            <a href="{% url 'Users:addtocart' account.code %}" class="btn-primary-cm btn-with-icon">
                                <img src="{% static 'assets/img/theme/shopping-cart.png' %}" alt="">                                       
                                افزودن به سبد خرید                                    
                            </a>
                        </div>
                        {% else %}
                        <h2>شما نمی توانید اکانت خود را خریداری کنید!</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="mb-add-to-cart-btn-wrapper">
                {% if request.user != account.seller %}
                <a href="{% url 'Users:addtocart' account.code %}">
                    <button 
                    class="btn btn-sm btn-primary btn-submit-form" style="position: relative;
                    width: 100%; text-align: center;">افزودن به سبد خرید</button>
                </a>
                {% else %}
                <h4 style="text-align:center;">شما نمی توانید اکانت خود را خریداری کنید!</h4>
                {% endif %}
            </div>
        </div>
        <div class="dt-sn mb-5 px-0 dt-sl pt-0">
            <!-- Start tabs -->
            <section class="tabs-product-info mb-3 dt-sl">
                <div class="ah-tab-wrapper border-bottom dt-sl">
                    <div class="ah-tab dt-sl">
                        <a class="ah-tab-item" data-ah-tab-active="true" href=""><i class="mdi mdi-format-list-checks"></i>مشخصات</a>
                    </div>
                </div>
                <div class="ah-tab-content-wrapper product-info px-4 dt-sl">
                    <div class="ah-tab-content params dt-sl" data-ah-tab-active="true">
                        <div class="section-title text-sm-title title-wide no-after-title-wide mb-0 dt-sl">
                            <h2>مشخصات اکانت</h2>
                        </div>
                        <div class="product-title dt-sl mb-3">
                            <h1> کد آگهی: {{account.code}}
                            </h1>
                        </div>
                        <section>
                            <h3 class="params-title">مشخصات فروشنده</h3>
                            <ul class="params-list">
                                <li>
                                    <div class="params-list-key">
                                        <span class="d-block">نام کاربری</span>
                                    </div>
                                    <div class="params-list-value">
                                        <span class="d-block">
                                            {{seller.username}}@
                                        </span>
                                    </div>
                                </li>
                                <li>
                                <li>
                                    <div class="params-list-key">
                                        <span class="d-block">تعداد فروش ها در سایت</span>
                                    </div>
                                    <div class="params-list-value">
                                        <span class="d-block">
                                            {{seller.sells}}
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="params-list-key">
                                        <span class="d-block">تعداد خرید ها از سایت</span>
                                    </div>
                                    <div class="params-list-value">
                                        <span class="d-block">
                                            {{seller.buys}}
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="params-list-key">
                                        <span class="d-block">احراز هویت</span>
                                    </div>
                                    <div class="params-list-value">
                                        <span class="d-block">
                                            {% if seller.verified %}
                                            شده است
                                            {% else %}
                                            نشده است
                                            {% endif %}
                                        </span>
                                    </div>
                                </li>
                                <p style="font-size: 15px; color: red; font-weight: bolder;">فروشندگانی که احراز هویت شده اند، مدارک معتبر به سایت ارائه داده اند، بنابراین خرید از آنها ایمن تر و سریع تر صورت می گیرد.</p>
                                <li>
                            </ul>
                        </section>
                        <section>
                            <h3 class="params-title">مشخصات کلی</h3>
                            <ul class="params-list">
                                <li>
                                    <div class="params-list-key">
                                        <span class="d-block">وضعیت</span>
                                    </div>
                                    <div class="params-list-value">
                                        <span class="d-block">
                                            {{account.get_status_display}}
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="params-list-key">
                                        <span class="d-block">تاریخ آگهی</span>
                                    </div>
                                    <div class="params-list-value">
                                        <span class="d-block">
                                            14{{account.pub_date|to_jalali:'%y/%m/%d'}}
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="params-list-key">
                                        <span class="d-block">سیو ها</span>
                                    </div>
                                    <div class="params-list-value">
                                        <span class="d-block">
                                            {% for link in links %}
                                            {{link.get_Type_display}} - 
                                            {% endfor %}
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </section>
                        <section>
                            <h3 class="params-title">اطلاعات بازی</h3>
                            <ul class="params-list">
                                {% for field in Fields %}
                                {% if field.verbose_name != 'ID' and field.verbose_name != 'account' %}
                                <li>
                                    <div class="params-list-key">
                                        
                                        <span class="d-block">{{field.verbose_name}}</span>
                                    </div>
                                    <div class="params-list-value">
                                        <span class="d-block">
                                            {% for k, v in Values.items %}
                                            {% if k == field %}
                                            {{v}}
                                            {% endif %}
                                            {% endfor %}
                                        </span>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </section>
                    </section>
                    </div>
                </div>
            </section>
            <!-- End tabs -->
        </di
        <!-- End Product -->
        <!-- Start Product-Slider -->
        <section class="slider-section dt-sl mb-5">
            <div class="row mb-3">
                <div class="col-12">
                    <div class="section-title text-sm-title title-wide no-after-title-wide">
                        <h2>خریداران این محصول، محصولات زیر را هم خریده‌اند</h2>
                        <a href="#">مشاهده همه</a>
                    </div>
                </div>

                <!-- Start Product-Slider -->
                <div class="col-12">
                    <div class="product-carousel carousel-lg owl-carousel owl-theme">
                        <div class="item">
                            <div class="product-card mb-3">
                                <div class="product-head">
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                    </div>
                                    <div class="discount">
                                        <span>20%</span>
                                    </div>
                                </div>
                                <a class="product-thumb" href="shop-single.html">
                                    <img src="./assets/img/products/07.jpg" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a href="shop-single.html">مانتو زنانه</a>
                                    </h5>
                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                    <span class="product-price">157,000 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-card mb-3">
                                <div class="product-head">
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                    </div>
                                </div>
                                <a class="product-thumb" href="shop-single.html">
                                    <img src="./assets/img/products/017.jpg" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a href="shop-single.html">کت مردانه</a>
                                    </h5>
                                    <a class="product-meta" href="shop-categories.html">لباس مردانه</a>
                                    <span class="product-price">199,000 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-card mb-3">
                                <div class="product-head">
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                </div>
                                <a class="product-thumb" href="shop-single.html">
                                    <img src="./assets/img/products/013.jpg" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a href="shop-single.html">مانتو زنانه مدل هودی تیک تین</a>
                                    </h5>
                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                    <span class="product-price">135,000 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-card mb-3">
                                <div class="product-head">
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                </div>
                                <a class="product-thumb" href="shop-single.html">
                                    <img src="./assets/img/products/09.jpg" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a href="shop-single.html">مانتو زنانه</a>
                                    </h5>
                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                    <span class="product-price">145,000 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-card mb-3">
                                <div class="product-head">
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                    </div>
                                </div>
                                <a class="product-thumb" href="shop-single.html">
                                    <img src="./assets/img/products/010.jpg" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a href="shop-single.html">مانتو زنانه</a>
                                    </h5>
                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                    <span class="product-price">170,000 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-card mb-3">
                                <div class="product-head">
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                    <div class="discount">
                                        <span>20%</span>
                                    </div>
                                </div>
                                <a class="product-thumb" href="shop-single.html">
                                    <img src="./assets/img/products/011.jpg" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a href="shop-single.html">مانتو زنانه</a>
                                    </h5>
                                    <a class="product-meta" href="shop-categories.html">لباس زنانه</a>
                                    <span class="product-price">185,000 تومان</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="product-card mb-3">
                                <div class="product-head">
                                    <div class="rating-stars">
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star active"></i>
                                        <i class="mdi mdi-star"></i>
                                    </div>
                                </div>
                                <a class="product-thumb" href="shop-single.html">
                                    <img src="./assets/img/products/019.jpg" alt="Product Thumbnail">
                                </a>
                                <div class="product-card-body">
                                    <h5 class="product-title">
                                        <a href="shop-single.html">تیشرت مردانه</a>
                                    </h5>
                                    <a class="product-meta" href="shop-categories.html">لباس مردانه</a>
                                    <span class="product-price">54,000 تومان</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Product-Slider -->

            </div>
        </section>
        <!-- End Product-Slider -->
    </div>
</main>
<!-- End main-content -->

{% endblock %}