<html>
    <head>
        <meta charset="UTF-8" />
        {% load static %}
        <link type="text/css" rel="stylesheet" href="{% static 'topbar.css' %}" />
            <style>
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic&display=swap');
            body
            {
                margin: 0px;
                padding: 0px;
                direction: rtl;
                font-family: 'Noto Sans Arabic', sans-serif;
            }
            a 
            {
                text-decoration: none;
            }
            a:hover
            {
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <ul id="ul1">
            <li id="accounts">اکانت ها
            </li>
            {% if request.user.is_authenticated %}
            <li>
                سلام {{request.user.name}}<br />
                <a href="{% url 'Users:logout' %}">خروج</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'Users:login' %}">ورود/ثبت نام</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'Codm:cart' %}">سبد خرید</a>
            </li>
        </ul>

    </body>
</html>